# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# tab indentation
[**.*]
indent_style = tab

# 2 space indentation
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2